*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --pink:rgba(232,102,236,0.6);
    }

body{
    background-color: #202124 ;
}

#wrapper{
    max-width: 1400px;
    margin: 0 auto;
    border: solid firebrick 2px;
}
#section1{
 margin: 0 auto;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 row-gap: 10px;
}



.item{
    max-width: 300px;
    border: dashed white 2px;
    gap: 10px;
    padding: 0.5rem;
    margin: 0.5rem;
    
    

}

.item_title{
    
    top: -20px;;
     position: relative; 
    color:var(--pink);
    border: solid 2px white;
    border-radius: 5px;
    padding-left:7px;
    background-color: #202124;
   

}
.item p{  
    padding: 0.5rem 0;
    color:var(--pink);
}
pre{
    
    color: white;
    background-color: var(--pink);
    border-radius: 5px;
}
header{
    padding: 3rem;
    color: var(--pink);
    text-align: center;
}
header p{
    color: white;
}

